<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('./_head.ejs',{meta:pageMeta[page]}); %>

<body>
  <div id="common-container" class="common-container <%= page %>">
    <%- include('./_header.ejs',{meta:pageMeta[page]}); %>
    <%- include('./_drawer.ejs',{meta:pageMeta[page]}); %>
    <%- include('./_main-about.ejs',{meta:pageMeta[page]}); %>
    <%- include('./_footer.ejs',{meta:pageMeta[page]}); %>
  </div>
  <%- include('./_footer-script.ejs',{meta:pageMeta[page]}); %>
</body>

</html>